<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <title>Mobiles</title>

    <%- include('partial/styles.ejs') %>

</head>

<body class="sub_page">

<div class="hero_area">

    <!-- header section strats -->
    <%- include('partial/header.ejs'); %>
    <!-- end header section -->
</div>

<!-- shop section -->

<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center d-flex flex-row justify-content-between">
            <div></div>
            <h2>
                Mobiles List
            </h2>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Soft by
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item active" href="/mobiles/soft/outstanding">Outstanding</a></li>
                    <li><a class="dropdown-item" href="/mobiles/soft/pricehightolow">Price high to low</a></li>
                    <li><a class="dropdown-item" href="/mobiles/soft/pricelowtohigh">Price low to high</a></li>
                    <li><a class="dropdown-item" href="/mobiles/soft/alphabet">Alphabet</a></li>

                </ul>
            </div>

        </div>
        <div class="row">

            <% data.forEach(function (product,i) {%>
                <%- include('partial/mobiles/mobile-item', {product: product, i: i}) %>
            <% })%>

        </div>
        <div class="btn-box">
            <a href="">
                View All
            </a>
        </div>
    </div>
</section>

<!-- end shop section -->

<!-- footer section -->
<%- include('partial/footer.ejs'); %>
<!-- footer section -->

<%- include('partial/scripts.ejs'); %>

<script>

</script>

</body>

</html>